<div class="content">
    <div class="header">
        <h1 class="page-title">菜单管理</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="{:U('index/index')}">首页</a> <span class="divider">/</span></li>
        <li class="active">菜单管理</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="well">
                <div id="toolbar">
                    <a class="btn btn-primary" href="{:U('manager/menuadd')}" role="button"><i class="icon-plus"></i>新增菜单</a>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-pagination="true"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toggle="table"
                       data-page-list="[5, 15, 25, 25, ALL]"
                       data-height="2"
                       data-url="/manage/manager/menulist">
                    <thead>
                    <tr>
                        <th data-field="id" data-checkbox="true"></th>
                        <th data-field="menuid">ID</th>
                        <th data-field="full_name">菜单名</th>
                        <th data-field="icons">icons</th>
                        <th data-field="url">url</th>
                        <th data-field="operation">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <include file="Common:author" />

        </div>
    </div>
</div>