<div class="content">
    <div class="header">
        <h1 class="page-title">编辑管理员</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="{:U('index/index')}">首页</a> <span class="divider">/</span></li>
        <li class="active">编辑管理员</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="tab" method="post">
                            <label>用户名</label>
                            <input type="text" name="username" value="{$datalist.Manager.username}" class="input-xlarge" readonly>
                            <input type="hidden" name="userid" value="{$datalist.Manager.id}" class="input-xlarge">
                            <label>角色</label>
                            <select name="roleid" id="roleid" class="input-xlarge">
                                <volist name="datalist.role_list" id="vo">
                                    <option value="{$vo.roleid}" <if condition="$datalist.Manager.roleid eq $vo.roleid">selected="selected"</if>>{$vo.rolename}</option>
                                </volist>
                            </select>
                            <label>Email</label>
                            <input type="text" name="email" value="{$datalist.Manager.email}" class="input-xlarge">
                            <label>Tel</label>
                            <input type="text" name="tel" value="{$datalist.Manager.tel}" class="input-xlarge">
                            <label></label>
                            <button type="submit" class="btn btn-primary"><i class="icon-save"></i>  提交</button>
                        </form>
                    </div>
                </div>
            </div>

            <include file="Common:author" />

        </div>
    </div>
</div>





